body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://i.gifer.com/Ekkr.gif'); /* Si estás en estilos.css */
  /* O */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.seccion-sobre-el-fondo {
  background-color: rgba(255, 255, 255, 0.5); /* Blanco semitransparente */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 14px;
  }
  .navbar {
    padding: 5px 10px;
  }
  .nav-link {
    font-size: 16px;
    padding: 5px 10px;
  }
  .hero-title {
    font-size: 24px;
  }
  .hero-text {
    font-size: 14px;
  }
  .product-item {
    width: 100%;
  }
  .footer-section {
    padding: 1em;
  }
  .footer-logo img {
    width: 80px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero-section {
    padding: 40px 15px;
  }
  .hero-title {
    font-size: 26px;
  }
  .video-section video {
    height: 250px;
  }
}


@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .contact-icon-link {
    font-size: 24px;
  }
  .contact-icons {
    gap: 20px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .visit-section {
    flex-direction: column;
  }
  .visit-map {
    order: 2; /* Coloca el mapa después de la información */
    margin-top: 20px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) {
  .products-section {
    padding: 60px 0;
  }
  .product-item {
    margin: 0 auto 30px; /* Centra y aumenta el margen inferior */
    width: 90%;
  }
}

@media only screen and (min-device-width: 428px) and (max-device-width: 926px) and (-webkit-min-device-pixel-ratio: 3) {
  .footer-logo img {
    width: 120px; /* Aumenta el tamaño del logo */
  }
  .footer-links {
    justify-content: center; /* Centra los enlaces en el footer */
  }
}


.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde el fondo */
  right: 20px; /* Ajusta la distancia desde la derecha */
  font-size: 30px; /* Tamaño del icono */
  color: #fff; /* Color del icono */
  background-color: #25D366; /* Color de fondo de WhatsApp */
  padding: 15px; /* Espacio alrededor del icono */
  border-radius: 50%; /* Hace el botón circular */
  box-shadow: 0 2px 5px rgba(0,0,0,.3); /* Sombra para darle profundidad */
  z-index: 1000; /* Asegura que el icono esté por encima de otros elementos */
}

.whatsapp-icon:hover {
  color: #fff; /* Mantiene el icono blanco al pasar el mouse */
  background-color: #128C7E; /* Oscurece el fondo al pasar el mouse */
  text-decoration: none; /* Elimina cualquier subrayado del enlace */
}


.navbar {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
}

.nav-menu,
.nav-icon,
.nav-logo img {
  margin-bottom: 10px; /* Espacio adicional al final de cada elemento */
}


.nav-icon .icon-link,
.nav-menu .nav-item:last-child {
  margin-right: 0; /* Quita el margen derecho del último ícono y elemento de navegación */
}


/* Si hay otros elementos antes de .hero-section que empujan hacia abajo, ajusta sus márgenes también */
.navbar,
.navbar-container,
.any-other-class {
  margin-bottom: 0; /* Ajusta o elimina los márgenes inferiores según sea necesario */
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* This will allow items to wrap onto the next line */
}

.nav-logo img, .footer-logo img {
  border: 3px solid #FFD700; /* Añade un borde dorado */
  padding: 5px; /* Espacio entre el borde y la imagen */
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5); /* Sombra suave para destacar el logo */
  border-radius: 5px; /* Bordes ligeramente redondeados para suavizar la apariencia */
}

.nav-logo img {
  max-width: 100px; /* Ajustar al tamaño deseado */
  height: auto; /* Mantiene la proporción del logo */
  opacity: 1; /* Si deseas que el logo sea un poco transparente, puedes cambiar este valor a menos de 1 */
  transition: opacity 0.3s ease; /* Transición suave para el efecto de opacidad */
}

.nav-logo img:hover {
  opacity: 0.8; /* Cambia la opacidad al pasar el ratón sobre el logo para un efecto suave */
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px; /* Asegúrate de tener un padding inicial aquí para transiciones fluidas */
  display: inline-block; /* Para permitir el padding y las transiciones de tamaño */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para varios propiedades */
  border-radius: 5px; /* Si prefieres bordes redondeados */
  margin: 0 5px; /* Añade un espacio horizontal entre los elementos */
}

/* Estilo mejorado para el hover de los ítems de navegación */
.nav-link:hover {
  background-color: #D3BCC0; /* Un color de fondo suave y más claro */
  color: white; /* Mantiene el texto en blanco */
  transform: translateY(-2px); /* Un ligero movimiento hacia arriba para dar sensación de elevación */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para crear profundidad */
}

/* Estilo para el ícono de carrito de compras con transiciones suaves */
.fa-shopping-cart {
  color: white; /* Cambia esto al color que desees */
  font-size: 24px; /* Ajusta el tamaño del ícono como prefieras */
  transition: color 0.3s ease; /* Suaviza la transición de color */
}

/* Cambiar el color del ícono al pasar el mouse por encima */
.nav-icon .icon-link:hover .fa-shopping-cart {
  color: #E0D4ED; /* Este será el nuevo color al hacer hover */
}


.nav-icon .icon-link {
  margin-left: 20px;
  margin-right: 20px; /* Espacio adicional a la derecha del ícono del carrito de compras */
}

/* Estilo para el ícono de carrito de compras */
.fa-shopping-cart {
  color: white; /* Cambia esto al color que desees */
  font-size: 24px; /* Ajusta el tamaño del ícono como prefieras */
  transition: color 0.3s ease; /* Suaviza la transición de color */
}

/* Cambiar el color del ícono al pasar el mouse por encima */
.nav-icon .icon-link:hover .fa-shopping-cart {
  color: #E0D4ED; /* Este será el nuevo color al hacer hover */
}

.code-btn {
  background-color: #6A3E72;
  border: none;
  color: white;
  padding: 10px 30px; /* Aumento el padding horizontal para dar más espacio al texto */
  font-size: 16px; /* Ajuste el tamaño de la fuente si es necesario */
  font-weight: bold; /* Hacer la fuente más pesada para destacar */
  letter-spacing: 1px; /* Espaciado entre letras para mejorar la legibilidad */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 20px; /* Bordes más redondeados para un look moderno */
  margin-left: 20px; /* Espacio adicional a la izquierda del botón, si es necesario */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para crear profundidad */
  display: inline-block; /* Asegúrate de que puedes usar padding y bordes redondeados */
  margin-top: 10px; /* Add some top margin if the button wraps to the next line */
  margin-right: auto; /* Centra el botón automáticamente a la derecha */
  margin-left: auto; /* Centra el botón automáticamente a la izquierda */
  margin-top: 10px; /* Espacio adicional arriba del botón para evitar que se pegue a los elementos de navegación */
  display: block; /* Esto hará que el botón tome su propia línea */

}

.code-btn:hover {
  background-color: #583063;
  transform: translateY(-2px); /* Ligero movimiento hacia arriba para dar sensación de elevación */
}


@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px; /* Un poco más de padding para un mejor manejo */
  }

  .navbar-container {
    /* Añade un poco de margen inferior para separar visualmente los elementos de la barra de navegación del contenido */
    margin-bottom: 20px;
  }

  .nav-logo img {
    /* Reducir ligeramente el tamaño del logo para adaptarse a pantallas más pequeñas */
    width: 80px;
    margin-bottom: 15px; /* Reduce el espacio para mantener la compactación */
  }

  .nav-menu {
    /* Aumentar el espaciado entre ítems de menú para una mejor accesibilidad */
    gap: 10px;
  }

  .nav-link {
    font-size: 18px; /* Aumenta el tamaño de la fuente para mejorar la legibilidad */
    padding: 12px 24px; /* Mayor área de toque para una mejor accesibilidad */
    margin: 5px 0; /* Espaciado vertical para evitar el apilamiento */
  }

  .nav-icon {
    /* Agrega margen superior e inferior para separarlo del menú y el contenido */
    margin: 15px 0;
  }

  .code-btn {
    /* Asegura que el botón no sea demasiado grande ocupando toda la pantalla */
    max-width: 250px; /* Establece un máximo */
    margin: 15px auto; /* Mayor margen y auto para centrar */
    display: block;
  }

  .footer-links, .link-column {
    /* Asegura un espaciado adecuado entre elementos del pie de página */
    margin-bottom: 15px;
  }

  .footer-logo img {
    /* Ajusta el tamaño del logo en el pie de página si es necesario */
    width: 90px;
  }

  /* Resalta los elementos interactivos al pasar sobre ellos para mejorar la retroalimentación visual */
  .nav-link:hover, .hero-button:hover, .product-add:hover {
    background-color: #f5f5f5; /* Cambia el color de fondo en lugar de solo escalar */
    color: #333; /* Cambia el color del texto para contrastar con el nuevo fondo */
    box-shadow: 0 5px 10px rgba(0,0,0,0.3); /* Sombra más notoria */
  }
}


@media (max-width: 480px) {
  .navbar {
    /* Ajuste adicional de padding para compensar la reducción del tamaño de la pantalla */
    padding: 8px 16px;
  }

  .navbar-container {
    /* Incrementar el espaciado vertical para mejorar la separación visual */
    margin-bottom: 25px;
  }

  .nav-logo img {
    /* Reducción del tamaño del logo para adaptarse mejor a pantallas estrechas */
    width: 70px;
  }

  .nav-menu {
    /* Aumento del espaciado vertical entre los elementos del menú para evitar toques accidentales */
    gap: 15px;
    margin-top: 10px; /* Espacio adicional encima para separar del logo */
  }

  .nav-link {
    /* Reducción del tamaño de la fuente para adaptarse al espacio limitado */
    font-size: 16px;
    padding: 10px 20px; /* Ajuste del padding para mantener la proporcionalidad */
  }

  .nav-icon {
    /* Ajuste del margen para evitar la sensación de apretujamiento */
    margin: 10px 0 20px; /* Espaciado adicional al final para separación del contenido */
  }

  .code-btn {
    /* Reducción del tamaño máximo para evitar que el botón se vea demasiado grande */
    max-width: 220px;
    padding: 8px 16px; /* Reducción del padding para ajustar el tamaño general del botón */
    font-size: 15px; /* Reducción del tamaño de la fuente para adaptarse al tamaño del botón */
    margin: 20px auto; /* Incremento del margen superior para más espacio */
  }

  .footer-links, .link-column {
    /* Ajustes para una mejor presentación de los enlaces en el pie de página */
    margin-bottom: 20px;
  }

  .footer-logo img {
    /* Ajuste del logo en el pie de página para dispositivos pequeños */
    width: 60px;
  }

  /* Mejora de los estilos de hover para dispositivos que admiten hover */
  .nav-link:hover, .hero-button:hover, .product-add:hover {
    background-color: #eaeaea; /* Un cambio sutil de color de fondo */
    color: #000; /* Cambio a un color de texto más oscuro para contraste */
    box-shadow: 0 3px 6px rgba(0,0,0,0.2); /* Sombra más ligera para no sobrecargar el diseño */
  }
}



/* Sección hero mejorada con un tema de color negro y amarillo oro */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
  background-color: #000; /* Fondo negro */
  color: #FFD700; /* Texto en amarillo oro */
  min-height: 80vh;
  overflow: hidden;
  position: relative;
}

/* Añade un efecto de gradiente dorado sobre el fondo negro */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, #FFD700 0%, #000 70%);
  opacity: 0.5;
  z-index: 0;
}
/* Asegura que no hay márgenes superiores en los elementos dentro de hero-section */
.hero-section,
.hero-section * {
  margin-top: 0; /* Elimina el margen superior */
}

.hero-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-title {
  font-size: 48px;
  color: #FFD700;
  margin-bottom: 20px;
}



.hero-text .fas {
  /* Si necesitas un tamaño específico para el ícono */
  font-size: 1.2em; /* Ajusta este valor según sea necesario */
  vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
  color: #009BDF; /* Si quieres el ícono de un color específico */
  margin-left: 0.3em; /* Agrega un poco de espacio a la izquierda del ícono */
}

.hero-text .check-icon {
  font-size: 90px; /* O el tamaño que prefieras */
  display: block; /* Hace que el ícono se muestre en su propia línea */
  text-align: center; /* Centra el ícono si está en un bloque display */
  margin: 60px auto; /* Añade un poco de margen para dar espacio alrededor del ícono */
}


.hero-text {
  font-size: 20px;
  line-height: 1.5; /* Mejora la legibilidad del texto */
  margin-bottom: 30px;
  animation: fadeInUp 2s ease-in-out 0.5s; /* Animación para el texto */
  animation-fill-mode: backwards; /* Mantiene el elemento invisible hasta que la animación comienza */
}

.hero-button {
  background-color: #FFD700; /* Botón amarillo oro */
  padding: 10px 30px;
  color: #000; /* Texto negro */
  font-size: 18px; /* Tamaño de fuente más grande para el botón */
  font-weight: bold; /* Fuente en negrita para el botón */
  border-radius: 5px;
  transition: all 0.3s ease;
  animation: fadeInUp 2s ease-in-out 1s; /* Animación para el botón */
  animation-fill-mode: backwards;
}


.hero-button:hover {
  background-color: #fff; /* Cambia a blanco al pasar el ratón */
  color: #000;
}

/* Estilos para la animación de entrada */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Asegúrate de que hero-image ocupe el espacio adecuado */
.hero-image {
  max-width: 100%; /* Utiliza todo el ancho disponible */
  display: block; /* Trata la imagen como bloque para centrarla */
  margin: 0 auto; /* Centra la imagen horizontalmente */

}

.hero-image img {
  max-width: 370px;
  height: auto;
  border-radius: 5px; /* Añade bordes redondeados a la imagen */
}


/* Mejoras en las tarjetas giratorias */
.flip-card {
  background: transparent;
  width: 300px; /* Ajusta según tus necesidades */
  height: 400px; /* Ajusta según tus necesidades */
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  z-index: 2;
}


.flip-card-back {
  transform: rotateY(180deg); /* Rota la parte de atrás para que quede frente a la vista al girar */
}


.flip-card-front img,
.flip-card-back img {
  width: 100%;
  height: auto;
  border-radius: 20px; /* Bordes redondeados para las imágenes */
}

/* Ajustes para dispositivos con pantalla hasta 768px de ancho (tablets y dispositivos grandes) */
@media (max-width: 768px) {
  .hero-section {
    padding: 50px 20px; /* Proporciona más espacio alrededor del contenido para respirar */
    background-size: auto 100%; /* Ajusta el tamaño del fondo para mantener proporciones adecuadas */
  }

  .hero-container {
    flex-direction: column; /* Cambia la disposición de los elementos a vertical */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .hero-image {
    width: 80%; /* Ajusta el ancho de la imagen para que no ocupe todo el ancho de la pantalla */
    margin-top: 30px; /* Añade un espacio adicional arriba para separar del texto */
  }

  .flip-card {
    width: 100%; /* Hace que la tarjeta ocupe todo el ancho disponible */
    margin: auto; /* Centra la tarjeta en la pantalla */
  }
}

/* Ajustes para teléfonos móviles (hasta 480px de ancho) */
@media (max-width: 480px) {
  .hero-title {
    font-size: 24px; /* Reduce el tamaño del título para mejorar la legibilidad */
    padding: 0 10px; /* Añade padding lateral para evitar que el texto toque los bordes de la pantalla */
  }

  .hero-text {
    font-size: 14px; /* Reduce el tamaño del texto para una mejor adaptación */
    padding: 0 10px; /* Similar al título, evita que el texto toque los bordes */
  }

  .hero-text .check-icon,
  .hero-text .fas {
    font-size: 35px; /* Ligeramente más pequeño para una mejor proporción */
    margin: 20px 0; /* Añade más espacio alrededor del ícono para separarlo del texto */
  }

  .hero-image {
    width: 100%; /* Permite que la imagen ocupe todo el ancho disponible */
  }

  .flip-card {
    height: auto; /* Asegura que la tarjeta mantenga su proporción sin especificar una altura fija */
    overflow: hidden; /* Oculta cualquier desbordamiento */
  }
}

.video-section {
  text-align: center;
  max-width: 300px; /* Amplía la anchura máxima para dar más presencia al video */
  margin: 50px auto; /* Ajusta el margen para centrar la sección y darle espacio */
  padding: 20px; /* Añade un poco de padding para espacio alrededor del video */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Añade una sombra más pronunciada para profundidad */
  border-radius: 20px; /* Bordes redondeados para un look más suave */
  background: linear-gradient(145deg, #000, #FFD700); /* Gradiente de fondo de negro a amarillo dorado */
  overflow: hidden; /* Mantiene todo dentro de los bordes redondeados */
}

.video-section video {
  width: 100%; /* Asegura que el video se ajuste al contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  border: 5px solid #FFD700; /* Borde sólido amarillo dorado alrededor del video */
  border-radius: 15px; /* Bordes redondeados para el video */
}




/* Ajustes para tablets */
@media (max-width: 768px) {
  .video-section video {
    height: 400px; /* Ajusta la altura para dispositivos medianos */
  }
}

/* Ajustes para teléfonos móviles */
@media (max-width: 480px) {
  .video-section video {
    height: 200px; /* Reduce significativamente la altura para dispositivos pequeños */
  }
}



.services-section {
  text-align: center;
  padding: 50px 0;
  background-color: #fafafa; /* Un fondo claro pero no completamente blanco */
}

.services-title {
  font-size: 48px; /* Tamaño de fuente más grande para el título */
  color: #4A4A4A; /* Un color de texto más oscuro para contraste */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna */
  margin-bottom: 50px; /* Más espacio debajo del título */
  text-transform: uppercase; /* Estilo de título en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras para un look premium */
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 30px; /* Más espacio entre los elementos */
  flex-wrap: wrap; /* Acomoda los elementos en varias filas según el ancho */
}

.service-item {
  position: relative;
  width: 300px; /* Tamaño controlado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
  margin-bottom: 20px; /* Espacio debajo de cada servicio */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.service-item:hover {
  transform: translateY(-5px); /* Eleva el item al pasar el ratón */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más prominente al pasar el ratón */
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Bordes redondeados */
}

.service-description {
  position: absolute;
  bottom: 15px; /* Ajuste de posición */
  left: 15px; /* Ajuste de posición */
  background-color: rgba(255, 255, 255, 0.85); /* Mayor opacidad para mejorar la lectura */
  padding: 8px 15px; /* Más padding para mejor visualización */
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna */
  color: #333; /* Color de texto más oscuro para mejor contraste */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para el texto */
}

.services-navigation {
  display: flex;
  justify-content: center; /* Botones centrados */
  align-items: center;
  padding: 20px 0; /* Espaciado vertical */
}

.services-prev, .services-next, .services-all {
  background-color: #ffffff;
  color: #4A4A4A; /* Color de texto armonizado con el título */
  padding: 12px 24px; /* Padding más generoso */
  border: 2px solid #cccccc; /* Borde más grueso */
  border-radius: 25px; /* Bordes altamente redondeados para un aspecto moderno */
  margin: 0 15px; /* Espacio entre botones */
  font-weight: 600; /* Texto más grueso */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Consistencia en la fuente */
  letter-spacing: 0.5px; /* Ligero espaciado entre letras */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transiciones para múltiples propiedades */
}

.services-prev:hover, .services-next:hover, .services-all:hover {
  background-color: #ececec; /* Fondo ligeramente diferente al pasar el ratón */
  color: #333; /* Color de texto más oscuro al pasar el ratón */
  border-color: #999999; /* Borde más oscuro al pasar el ratón */
}


/* Estilos para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
  .services-section {
    padding: 30px 10px; /* Reduces padding for smaller screens */
  }

  .services-title {
    font-size: 32px; /* Reduce the font size for smaller screens */
    margin-bottom: 30px; /* Reduce bottom margin */
  }

  .services-container {
    flex-direction: column; /* Coloca los servicios uno encima del otro */
  }

  .service-item {
    width: auto; /* Permite que los elementos se ajusten al contenedor */
    margin: 10px 0; /* Añade un margen para separar cada servicio */
  }

  .services-navigation {
    flex-direction: column; /* Stack navigation buttons vertically */
    gap: 10px; /* Adds a gap between stacked items */
  }

  .services-prev,
  .services-next,
  .services-all {
    width: 100%; /* Full width buttons */
    margin: 10px 0; /* Adds margin between the buttons when stacked */
  }
}

/* Media queries para responsividad no incluidos, pero recomendados */


.products-section {
  text-align: center;
  padding: 50px 0;
  background-color: #202020; /* Fondo oscuro para resaltar los productos */
}

.products-title {
  font-size: 48px;
  color: #FFD700; /* Amarillo dorado para el título */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.products-navigation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-prev, .products-next {
  background-color: #FFD700; /* Amarillo dorado para los botones */
  color: #000; /* Texto en negro para contraste */
  padding: 10px 20px;
  border: none; /* Eliminar el borde para un look más limpio */
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.products-prev:hover, .products-next:hover {
  background-color: #e6c300; /* Un tono de amarillo más oscuro para el hover */
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-item {
  width: 200px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más definida para profundidad */
  border-radius: 10px;
  background-color: #fff; /* Fondo claro para los productos */
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en hover */
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product-info {
  text-align: center; /* Centrado del texto para una presentación más limpia */
}

.product-name {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.product-price {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin: 5px 0;
}

.product-add {
  background-color: #FFD700; /* Botón de agregar al carrito en amarillo dorado */
  color: #000; /* Texto en negro para contraste */
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-add i {
  margin-left: 8px;
}

.product-add:hover {
  background-color: #e6c300; /* Un tono de amarillo más oscuro para el hover */
}

.product-detail-section .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.product-detail-header h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}


/* Estilos específicos para el carrito de compras */
.cart-items {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f2f2f2; /* Un fondo ligeramente más claro para contraste suave */
  border-bottom: 2px solid #dcdcdc; /* Un toque más de definición en la separación */
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-image {
  width: 80px; /* Un poco más grande para mayor visibilidad */
  height: 80px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 10px; /* Bordes más redondeados para suavizar la apariencia */
}

.cart-item-info {
  flex-grow: 1;
  padding-left: 10px; /* Añade un poco más de espacio entre la imagen y el texto */
}

.cart-item-name {
  font-size: 18px; /* Más grande para mejor lectura */
  color: #333; /* Texto más oscuro para mejor contraste */
}

.cart-item-price {
  font-size: 16px;
  color: #555; /* Un gris oscuro para diferenciar del nombre */
}

.quantity-input {
  width: 60px; /* Un poco más grande para fácil interacción */
  margin-left: auto; /* Asegura que se alinea a la derecha */
  border: 2px solid #bcbcbc; /* Un borde más definido */
  border-radius: 10px; /* Bordes redondeados */
  padding: 5px;
  font-size: 16px; /* Aumenta el tamaño de la fuente para facilidad de vista */
  background-color: #ebebeb; /* Fondo ligeramente gris para destacar */
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #e8e8e8; /* Un tono de gris más oscuro para destacar el total */
  border-radius: 10px; /* Suaviza los bordes */
}

.total-price span {
  font-weight: bold;
  font-size: 20px; /* Aumenta el tamaño para enfatizar el total */
  color: #444; /* Oscurece para importancia */
}

/* Botón de volver a los productos con un estilo coherente */
.back-to-products {
  background-color: #c19a6b; /* Un tono bronce para un toque de lujo */
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px; /* Bordes redondeados */
  display: inline-block;
  margin-top: 20px;
  font-weight: bold; /* Texto más audaz */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
}

.back-to-products:hover {
  background-color: #af8754; /* Oscurece al pasar el ratón para interacción */
}




/* Media queries para responsividad */
@media (max-width: 768px) {
  .product-detail-body {
    flex-direction: column;
  }

  .product-detail-image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .product-detail-info {
    width: 100%;
  }
}


/* Estilos para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
  .products-section {
    padding: 30px 10px; /* Reduces padding for smaller screens */
    display: none;

  }

  .products-title {
    font-size: 32px; /* Reduce the font size for smaller screens */
    margin-bottom: 30px; /* Reduce bottom margin */
  }

  .products-container {
    flex-direction: column; /* Stack product items vertically */
    align-items: center; /* Center items when they stack */
  }

  .product-item {
    width: 100%; /* Make product items take full width */
    margin-bottom: 15px; /* Reduce space between product items */
  }

  .products-navigation {
    flex-direction: column; /* Stack navigation buttons vertically */
    margin-top: 15px;
  }

  .products-prev,
  .products-next {
    padding: 10px; /* Adjust padding */
    margin: 10px 0; /* Add space between buttons */
  }
}

/* Ocultar productos solo en teléfonos móviles, manteniéndolos visibles en tablets */
@media (max-width: 480px) {
  .products-section {
    display: none;
  }
}



.product-rating {
  color: #ffd700; /* Color dorado para las estrellas */
  font-size: 16px; /* Tamaño apropiado para las estrellas dentro de cada producto */
}

.product-rating .fas {
  transition: color 0.3s ease; /* Transición suave al cambiar de color */
}

/* Ejemplo para calificación de 4 estrellas */
.product-item[data-rating="4"] .product-rating .fas:nth-child(-n+4) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="4"] .product-rating .fas:nth-child(n+5) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}

.product-item[data-rating="3"] .product-rating .fas:nth-child(-n+4) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="3"] .product-rating .fas:nth-child(n+3) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}

.product-item[data-rating="2"] .product-rating .fas:nth-child(-n+3) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="2"] .product-rating .fas:nth-child(n+2) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}

.product-item[data-rating="1"] .product-rating .fas:nth-child(-n+2) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="1"] .product-rating .fas:nth-child(n+1) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}

.product-item[data-rating="5"] .product-rating .fas:nth-child(n+1) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="5"] .product-rating .fas:nth-child(n+6) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}


.contact-section {
  text-align: center;
  padding: 50px 0;
  background-color: #000; /* Cambio a fondo negro para resaltar los íconos de contacto */
}

.contact-title {
  font-size: 36px; /* Aumento del tamaño para más impacto */
  color: #FFD700; /* Cambio a color amarillo dorado para el título */
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 30px; /* Espaciado incrementado para una mejor visualización */
}

.contact-icon-link {
  color: #FFD700; /* Íconos en amarillo dorado para coherencia */
  font-size: 30px; /* Aumento del tamaño de los íconos */
  transition: transform 0.3s ease;
}

.contact-icon-link:hover,
.contact-icons i:hover {
  transform: scale(1.2); /* Efecto de aumento al pasar el mouse */
  color: #e6c300; /* Cambio a un tono de amarillo dorado más oscuro al pasar el mouse */
}

.contact-icons a {
  color: #FFD700; /* Enlaces en amarillo dorado para coherencia */
  transition: color 0.3s ease, transform 0.3s ease;
}

.contact-icons a:hover {
  color: #e6c300; /* Cambio a un tono de amarillo dorado más oscuro al pasar el mouse */
  transform: translateY(-5px); /* Sutil elevación al pasar el mouse */
}

.contact-icon-container {
  display: inline-flex; /* Cambio a inline-flex para centrar íconos verticalmente */
  justify-content: center; /* Centrado horizontal de íconos */
  align-items: center; /* Centrado vertical de íconos */
  border-radius: 50%;
  padding: 15px; /* Padding incrementado para un área de clic más grande */
  background-color: #222; /* Fondo sutil para los círculos alrededor de los íconos */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-icon-container:hover {
  background-color: #333; /* Oscurecimiento del fondo al pasar el mouse para efecto */
  transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}


/* Media Queries para ajustes en dispositivos móviles */
@media (max-width: 768px) {
  .contact-section {
    padding: 20px; /* Un poco más de padding para mejorar la legibilidad */
  }

  .contact-title {
    font-size: 22px; /* Un tamaño óptimo que mantiene la legibilidad sin ser demasiado grande */
    margin-bottom: 20px; /* Un poco más de espacio debajo del título para una separación clara */
  }

  .contact-icons {
    flex-direction: column; /* Mantenemos la columna para una mejor disposición */
    gap: 15px; /* Un poco más de espacio entre íconos para facilitar la interacción táctil */
    align-items: center; /* Centra los íconos horizontalmente */
  }

  .contact-icon-link {
    font-size: 24px; /* Incrementamos ligeramente el tamaño para facilitar la interacción */
  }

  .contact-icon-container {
    width: 50px; /* Un tamaño fijo para contener el ícono */
    height: 50px; /* Altura igual al ancho para mantener la proporción */
    display: flex; /* Usamos flex para centrar el ícono dentro del círculo */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: 0 auto 10px; /* Automáticamente centra el contenedor en la pantalla y añade margen inferior */
    border-radius: 50%; /* Redondea completamente para formar un círculo */
    background-color: rgba(0,0,0,0.1); /* Un ligero fondo oscuro para contrastar con el ícono */
  }
}

@media (max-width: 480px) {
  .contact-section {
    padding: 15px; /* Reducimos el padding para maximizar el espacio disponible */
  }

  .contact-icons i {
    font-size: 22px; /* Ajustamos el tamaño del ícono para asegurar que siga siendo fácil de interactuar */
  }

  /* Ajustes adicionales para los íconos y enlaces para garantizar que sean fácilmente clicables */
  .contact-icon-link {
    padding: 10px; /* Añade padding para aumentar el área de clic */
    border-radius: 50%; /* Asegura que el enlace mantenga una forma circular */
    display: inline-flex; /* Mantiene el ícono centrado dentro del enlace */
    justify-content: center;
    align-items: center;
  }
}


.visit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020; /* Cambio a negro para un look premium */
  padding: 50px 10%;
  color: #FFD700; /* Textos en amarillo dorado */
}

.visit-map, .visit-info {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada para efecto 3D */
  border-radius: 10px; /* Bordes más redondeados */
}

.visit-map {
  flex-basis: 60%; /* Ajusta para proporcionar más espacio al mapa */
  margin-right: 2%; /* Espacio entre mapa e información */
  height: 300px; /* Altura fija para mantener la proporción */
  overflow: hidden;
}

.visit-info {
  flex-basis: 38%; /* Ajusta el ancho del contenedor de información */
  padding: 30px;
  background-color: #222; /* Fondo oscuro para el contenedor de información */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #FFD700; /* Borde en amarillo dorado */
}

.visit-title {
  color: #FFD700; /* Título en amarillo dorado */
  font-size: 2rem; /* Ajusta el tamaño del título */
  margin-bottom: 20px;
}

.visit-text {
  color: #FFD700; /* Texto en amarillo dorado */
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Media Queries para ajustar el layout en pantallas más pequeñas */
@media (max-width: 768px) {
  .visit-section {
    flex-direction: column;
    padding: 30px 5%;
  }

  .visit-map {
    flex-basis: auto;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .visit-info {
    flex-basis: auto;
    width: 100%;
  }
}


@media (max-width: 480px) {
  .visit-title {
    font-size: 1.5rem; /* Reduce aún más para teléfonos móviles */
  }

  .visit-map {
    height: 200px; /* Reduce aún más la altura del mapa para dispositivos muy pequeños */
  }

  .visit-text{
    font-size: 0.8rem; /* Reduce el tamaño de la fuente para el texto y los enlaces sociales */
  }
}


/* Estilo para la sección general del pie de página */
.footer-section {
  background-color: #000; /* Un gris muy oscuro como base */
  padding: 2em 0;
  color: #E6E6E6; /* Un blanco roto para el texto, suave a la vista */
}

/* Estilo para el contenedor que incluye el logo y los enlaces */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.footer-logo img {
  width: 100px; /* Ajusta esto según el tamaño de tu logo */
  filter: grayscale(100%); /* Hace que el logo sea en blanco y negro para complementar */
}

.footer-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-column:last-child {
  margin-left: auto; /* Esto empuja el último .link-column a la derecha */
}

.link-column h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #FFD700; /* Títulos en un tono dorado para complementar */
}

.link-column ul {
  list-style: none;
  padding: 0;
}

.link-column li a {
  color: #E6E6E6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-column li a:hover {
  color: #B8B8B8; /* Un gris claro para el hover, proporcionando contraste */
}

/* Estilo para la sección de derechos de autor */
.footer-bottom {
  text-align: center;
  width: 100%;
  background-color: #202020; /* Un gris oscuro para el fondo, distinto al del footer */
  color: #E6E6E6; /* Manteniendo el color del texto */
  padding: 1em 0;
}

.footer-bottom p {
  margin: 0;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Sombra más marcada para resaltar el texto */
  font-size: 1.1em;
}


/* Media Queries para ajustes en dispositivos móviles */
@media (max-width: 768px) {
  .footer-links {
    /* Alinea los elementos de .link-column uno debajo del otro */
    flex-direction: column;
    align-items: center; /* Centra los elementos para dispositivos móviles */
  }

  .link-column {
    /* Establece cada .link-column a 100% del ancho del .footer-links para que ocupe toda la línea */
    width: 100%;
    text-align: center; /* Centra el texto dentro de cada .link-column */
    margin-bottom: 15px; /* Espacio entre columnas de enlaces */
  }

  .footer-logo img {
    margin: 0 auto 20px; /* Centra el logo y añade un margen inferior */
  }

  .footer-section {
    background-color: #000000; /* El color de fondo general del footer */
    padding: 2em 0;
    color: white; /* El color del texto para todos los elementos del footer */
  }

  .footer-bottom {
    margin-top: 20px; /* Ajusta el margen superior del área de derechos de autor */
    text-align: center; /* Centra el texto de los derechos de autor */
  }
}

@media (max-width: 480px) {
  .footer-bottom p {
    font-size: 0.9em; /* Reduce el tamaño de la fuente de los derechos de autor para dispositivos muy pequeños */
  }
}
