body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
}

.nav-menu,
.nav-icon,
.nav-logo img {
  margin-bottom: 10px; /* Espacio adicional al final de cada elemento */
}


.nav-icon .icon-link,
.nav-menu .nav-item:last-child {
  margin-right: 0; /* Quita el margen derecho del último ícono y elemento de navegación */
}

/* Si hay otros elementos antes de .hero-section que empujan hacia abajo, ajusta sus márgenes también */
.navbar,
.navbar-container,
.any-other-class {
  margin-bottom: 0; /* Ajusta o elimina los márgenes inferiores según sea necesario */
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* This will allow items to wrap onto the next line */
}

.nav-logo img, .footer-logo img {
  border: 3px solid #FFD700; /* Añade un borde dorado */
  padding: 5px; /* Espacio entre el borde y la imagen */
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5); /* Sombra suave para destacar el logo */
  border-radius: 5px; /* Bordes ligeramente redondeados para suavizar la apariencia */
}

.nav-logo img {
  max-width: 100px; /* Ajustar al tamaño deseado */
  height: auto; /* Mantiene la proporción del logo */
  opacity: 1; /* Si deseas que el logo sea un poco transparente, puedes cambiar este valor a menos de 1 */
  transition: opacity 0.3s ease; /* Transición suave para el efecto de opacidad */
}

.nav-logo img:hover {
  opacity: 0.8; /* Cambia la opacidad al pasar el ratón sobre el logo para un efecto suave */
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px; /* Asegúrate de tener un padding inicial aquí para transiciones fluidas */
  display: inline-block; /* Para permitir el padding y las transiciones de tamaño */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para varios propiedades */
  border-radius: 5px; /* Si prefieres bordes redondeados */
  margin: 0 5px; /* Añade un espacio horizontal entre los elementos */
}

/* Estilo mejorado para el hover de los ítems de navegación */
.nav-link:hover {
  background-color: #D3BCC0; /* Un color de fondo suave y más claro */
  color: white; /* Mantiene el texto en blanco */
  transform: translateY(-2px); /* Un ligero movimiento hacia arriba para dar sensación de elevación */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para crear profundidad */
}

/* Estilo para el ícono de carrito de compras con transiciones suaves */
.fa-shopping-cart {
  color: white; /* Cambia esto al color que desees */
  font-size: 24px; /* Ajusta el tamaño del ícono como prefieras */
  transition: color 0.3s ease; /* Suaviza la transición de color */
}

/* Cambiar el color del ícono al pasar el mouse por encima */
.nav-icon .icon-link:hover .fa-shopping-cart {
  color: #E0D4ED; /* Este será el nuevo color al hacer hover */
}


.nav-icon .icon-link {
  margin-left: 20px;
  margin-right: 20px; /* Espacio adicional a la derecha del ícono del carrito de compras */
}

/* Estilo para el ícono de carrito de compras */
.fa-shopping-cart {
  color: white; /* Cambia esto al color que desees */
  font-size: 24px; /* Ajusta el tamaño del ícono como prefieras */
  transition: color 0.3s ease; /* Suaviza la transición de color */
}

/* Cambiar el color del ícono al pasar el mouse por encima */
.nav-icon .icon-link:hover .fa-shopping-cart {
  color: #E0D4ED; /* Este será el nuevo color al hacer hover */
}

.code-btn {
  background-color: #6A3E72;
  border: none;
  color: white;
  padding: 10px 30px; /* Aumento el padding horizontal para dar más espacio al texto */
  font-size: 16px; /* Ajuste el tamaño de la fuente si es necesario */
  font-weight: bold; /* Hacer la fuente más pesada para destacar */
  letter-spacing: 1px; /* Espaciado entre letras para mejorar la legibilidad */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 20px; /* Bordes más redondeados para un look moderno */
  margin-left: 20px; /* Espacio adicional a la izquierda del botón, si es necesario */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para crear profundidad */
  display: inline-block; /* Asegúrate de que puedes usar padding y bordes redondeados */
  margin-top: 10px; /* Add some top margin if the button wraps to the next line */
  margin-right: auto; /* Centra el botón automáticamente a la derecha */
  margin-left: auto; /* Centra el botón automáticamente a la izquierda */
  margin-top: 10px; /* Espacio adicional arriba del botón para evitar que se pegue a los elementos de navegación */
  display: block; /* Esto hará que el botón tome su propia línea */

}

.code-btn:hover {
  background-color: #583063;
  transform: translateY(-2px); /* Ligero movimiento hacia arriba para dar sensación de elevación */
}


@media (max-width: 768px) {
  .navbar {
    padding: 5px 15px; /* Optimiza el espacio disponible en pantallas pequeñas */
  }

  .navbar-container {
    flex-direction: column;
    align-items: stretch; /* Los elementos se estiran para ocupar todo el ancho disponible */
  }

  .nav-logo, .nav-menu, .nav-icon {
    text-align: center; /* Centraliza todos los elementos para una apariencia ordenada */
  }

  .nav-menu {
    flex-direction: column; /* Los ítems del menú se organizan verticalmente */
  }

  .nav-item + .nav-item {
    margin-top: 5px; /* Añade un espacio vertical entre los ítems del menú para mejorar la accesibilidad */
  }

  .nav-link {
    font-size: 16px; /* Un tamaño de fuente más adecuado para pantallas pequeñas */
    padding: 8px; /* Un padding táctil para facilitar la interacción */
  }

  .nav-icon {
    margin: 5px 0; /* Ajusta el espacio alrededor de los iconos para evitar el apilamiento */
  }

  .nav-icon .icon-link,
  .nav-menu .nav-item:last-child {
    margin-right: 0; /* Remueve el margen derecho del último ícono y elemento del menú para alinear correctamente */
  }

  .code-btn {
    width: auto; /* Permite que el botón se ajuste al contenido */
    margin: 10px; /* Proporciona un margen uniforme para evitar la superposición con otros elementos */
  }

  /* Ajustes adicionales recomendados para mejorar la coherencia y la accesibilidad */
  .footer-links, .link-column {
    flex-direction: column; /* Mejora la presentación de los enlaces en el pie de página */
    text-align: center; /* Centraliza el texto para mantener la coherencia con otros elementos */
  }

  .footer-logo img, .nav-logo img {
    margin: 0 auto 20px; /* Centra los logos y añade espacio debajo para separar de otros elementos */
  }

  /* Mejoras en la visibilidad de los botones y enlaces para una mejor interacción */
  .nav-link:hover, .hero-button:hover, .product-add:hover {
    transform: scale(1.05); /* Un sutil aumento al interactuar mejora la retroalimentación visual */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Añade profundidad y destaca elementos interactivos */
  }
}


/* Aplica estilos para centrar verticalmente el contenido en hero-section */
.hero-section {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  justify-content: center; /* Alinea horizontalmente */
  text-align: center; /* Asegura que el texto dentro de hero-content esté centrado */
  padding: 120px 20px; /* Espaciado superior e inferior aumentado */
  background-color: #f7f7f7; /* Color de fondo (cambiar si es necesario) */
  min-height: 80vh; /* Establece una altura mínima basada en el alto de la ventana */
  overflow: hidden; /* Evita el desbordamiento */
}

/* Asegura que no hay márgenes superiores en los elementos dentro de hero-section */
.hero-section,
.hero-section * {
  margin-top: 0; /* Elimina el margen superior */
}

/* Establece el contenido de la sección hero en el centro vertical */
.hero-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Separa el contenido y la imagen */
}

/* Centra el contenido de hero-content verticalmente */
.hero-content {
  max-width: 600px; /* O el ancho que mejor se adapte a tu contenido */
  margin: 0 auto; /* Centra el contenido si es menos del máximo ancho */
}

.hero-title {
  font-size: 48px; /* Tamaño de fuente del título */
  color: #ff0000; /* Color de fuente del título cambiado a dorado */
  margin-bottom: 20px;
}

.hero-text .fas {
  /* Si necesitas un tamaño específico para el ícono */
  font-size: 1.2em; /* Ajusta este valor según sea necesario */
  vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
  color: #009BDF; /* Si quieres el ícono de un color específico */
  margin-left: 0.3em; /* Agrega un poco de espacio a la izquierda del ícono */
}

.hero-text .check-icon {
  font-size: 90px; /* O el tamaño que prefieras */
  display: block; /* Hace que el ícono se muestre en su propia línea */
  text-align: center; /* Centra el ícono si está en un bloque display */
  margin: 40px auto; /* Añade un poco de margen para dar espacio alrededor del ícono */
}


.hero-text {
  font-size: 20px; /* Tamaño de fuente del texto */
  color: #333; /* Color del texto, ajusta según tu diseño */
  margin-bottom: 30px;
}

.hero-button {
  background-color: #ff0808; /* Color de fondo del botón */
  color: white; /* Color de texto del botón */
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #ffb813; /* Color al pasar el ratón */
}



/* Asegúrate de que hero-image ocupe el espacio adecuado */
.hero-image {
  max-width: 100%; /* Utiliza todo el ancho disponible */
  display: block; /* Trata la imagen como bloque para centrarla */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.hero-image img {
  max-width: 500px; /* Ajusta este valor según el tamaño de tu imagen */
  height: auto;
}


/* Ajustes para el flip-card */
.flip-card {
  background: transparent;
  width: 500px; /* O el ancho que prefieras */
  height: 300px; /* O la altura que prefieras */
  perspective: 1000px; /* Profundidad de efecto 3D */
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Oculta el reverso al girar */
  backface-visibility: hidden;
}
.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg); /* Rota la parte de atrás para que quede frente a la vista al girar */
}


/* Asegúrate de que las imágenes cubran el espacio de la tarjeta */
.flip-card-front img,
.flip-card-back img {
  width: 100%;
  height: auto;
}

/* Ajustes para tablets */
@media (max-width: 768px) {
  .hero-section {
    padding: 60px 10px; /* Reduce el padding */
    min-height: 60vh; /* Altura mínima ajustada */
  }

  .hero-container {
    flex-direction: column; /* Cambia la disposición a vertical */
  }

  .hero-content,
  .hero-image {
    max-width: 90%; /* Ajusta el ancho máximo para mayor coherencia */
  }

  .hero-title {
    font-size: 36px; /* Reduce el tamaño del título */
    margin-bottom: 15px; /* Ajusta el espacio debajo del título */
  }

  .hero-text {
    font-size: 18px; /* Ajusta el tamaño de la fuente del texto */
    margin-bottom: 20px; /* Ajusta el espacio debajo del texto */
  }

  .hero-text .check-icon,
  .hero-text .fas {
    font-size: 50px; /* Reduce el tamaño del ícono */
  }

  .hero-button {
    padding: 8px 20px; /* Reduce el padding del botón */
  }

  .hero-image img {
    max-width: 80%; /* Reduce el ancho máximo de la imagen */
  }

  .flip-card {
    width: 100%; /* Ajusta el ancho del flip-card */
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
}

/* Ajustes para teléfonos móviles */
@media (max-width: 480px) {
  .hero-title {
    font-size: 28px; /* Ajusta el tamaño del título para pantallas más pequeñas */
  }

  .hero-text {
    font-size: 16px; /* Ajusta el tamaño de la fuente del texto */
  }

  .hero-text .check-icon,
  .hero-text .fas {
    font-size: 40px; /* Ajusta el tamaño del ícono */
  }
}




.video-section {
  text-align: center;
  max-width: 640px; /* Establece la anchura máxima del contenedor del video */
  margin: 20px auto; /* Centra la sección de video y añade un poco de margen arriba y abajo */
  background: #000; /* Fondo negro para que las barras vacías no sean tan notorias */
}

.video-section video {
  width: 100%; /* El ancho es el 100% del contenedor */
  height: 800px; /* La altura es fija para mantener la forma cuadrada */
  object-fit:initial; /* Asegura que todo el video se muestre completamente */
}


/* Ajustes para tablets */
@media (max-width: 768px) {
  .video-section video {
    height: 400px; /* Ajusta la altura para dispositivos medianos */
  }
}

/* Ajustes para teléfonos móviles */
@media (max-width: 480px) {
  .video-section video {
    height: 200px; /* Reduce significativamente la altura para dispositivos pequeños */
  }
}



.services-section {
  text-align: center;
  padding: 50px 0;
  background-color: #fafafa; /* Un fondo claro pero no completamente blanco */
}

.services-title {
  font-size: 48px; /* Tamaño de fuente más grande para el título */
  color: #4A4A4A; /* Un color de texto más oscuro para contraste */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna */
  margin-bottom: 50px; /* Más espacio debajo del título */
  text-transform: uppercase; /* Estilo de título en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras para un look premium */
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 30px; /* Más espacio entre los elementos */
  flex-wrap: wrap; /* Acomoda los elementos en varias filas según el ancho */
}

.service-item {
  position: relative;
  width: 300px; /* Tamaño controlado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
  margin-bottom: 20px; /* Espacio debajo de cada servicio */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.service-item:hover {
  transform: translateY(-5px); /* Eleva el item al pasar el ratón */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más prominente al pasar el ratón */
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Bordes redondeados */
}

.service-description {
  position: absolute;
  bottom: 15px; /* Ajuste de posición */
  left: 15px; /* Ajuste de posición */
  background-color: rgba(255, 255, 255, 0.85); /* Mayor opacidad para mejorar la lectura */
  padding: 8px 15px; /* Más padding para mejor visualización */
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna */
  color: #333; /* Color de texto más oscuro para mejor contraste */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para el texto */
}

.services-navigation {
  display: flex;
  justify-content: center; /* Botones centrados */
  align-items: center;
  padding: 20px 0; /* Espaciado vertical */
}

.services-prev, .services-next, .services-all {
  background-color: #ffffff;
  color: #4A4A4A; /* Color de texto armonizado con el título */
  padding: 12px 24px; /* Padding más generoso */
  border: 2px solid #cccccc; /* Borde más grueso */
  border-radius: 25px; /* Bordes altamente redondeados para un aspecto moderno */
  margin: 0 15px; /* Espacio entre botones */
  font-weight: 600; /* Texto más grueso */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Consistencia en la fuente */
  letter-spacing: 0.5px; /* Ligero espaciado entre letras */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transiciones para múltiples propiedades */
}

.services-prev:hover, .services-next:hover, .services-all:hover {
  background-color: #ececec; /* Fondo ligeramente diferente al pasar el ratón */
  color: #333; /* Color de texto más oscuro al pasar el ratón */
  border-color: #999999; /* Borde más oscuro al pasar el ratón */
}


/* Estilos para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
  .services-section {
    padding: 30px 10px; /* Reduces padding for smaller screens */
  }

  .services-title {
    font-size: 32px; /* Reduce the font size for smaller screens */
    margin-bottom: 30px; /* Reduce bottom margin */
  }

  .services-container {
    flex-direction: column; /* Coloca los servicios uno encima del otro */
  }

  .service-item {
    width: auto; /* Permite que los elementos se ajusten al contenedor */
    margin: 10px 0; /* Añade un margen para separar cada servicio */
  }

  .services-navigation {
    flex-direction: column; /* Stack navigation buttons vertically */
    gap: 10px; /* Adds a gap between stacked items */
  }

  .services-prev,
  .services-next,
  .services-all {
    width: 100%; /* Full width buttons */
    margin: 10px 0; /* Adds margin between the buttons when stacked */
  }
}

/* Media queries para responsividad no incluidos, pero recomendados */


.products-section {
  text-align: center;
  padding: 50px 0;
  background-color: #fafafa; /* Un fondo claro pero no completamente blanco */
}

.products-title {
  font-size: 48px; /* Tamaño de fuente más grande para el título */
  color: #4A4A4A; /* Un color de texto más oscuro para contraste */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna */
  margin-bottom: 50px; /* Más espacio debajo del título */
  text-transform: uppercase; /* Estilo de título en mayúsculas */
  letter-spacing: 1px; /* Espaciado entre letras para un look premium */
}

.products-navigation {
  margin-top: 20px; /* Agrega espacio sobre la navegación */
  display: flex;
  justify-content: center; /* Centra los botones */
  align-items: center;
}

.products-prev, .products-next{
  /* Reutiliza los estilos de los botones de la sección de servicios */
  background-color: #ffffff;
  color: #4A4A4A;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.products-prev:hover, .products-next:hover {
  background-color: #f8f8f8;
  border-color: #888;
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-item {
  width: 200px; /* O el tamaño que prefieras */
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #f9f9f9; /* Fondo sutil para cada artículo */
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Estilos para las imágenes de los productos */
.product-image {
  width: 200px; /* Tamaño fijo para la anchura */
  height: 200px; /* Tamaño fijo para la altura para mantener la proporción cuadrada */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible sin distorsionarse */
  border-radius: 10px; /* Si quieres bordes redondeados */
}


.product-info {
  text-align: left;
}

.product-name {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.product-price {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin: 5px 0;
}

.product-add {
  background-color: #edda0c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-add i {
  margin-left: 8px; /* Añade espacio a la izquierda del ícono */
}

.product-add:hover {
  background-color: #ff0c04;
}


/* Estilos para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
  .products-section {
    padding: 30px 10px; /* Reduces padding for smaller screens */
    display: none;

  }

  .products-title {
    font-size: 32px; /* Reduce the font size for smaller screens */
    margin-bottom: 30px; /* Reduce bottom margin */
  }

  .products-container {
    flex-direction: column; /* Stack product items vertically */
    align-items: center; /* Center items when they stack */
  }

  .product-item {
    width: 100%; /* Make product items take full width */
    margin-bottom: 15px; /* Reduce space between product items */
  }

  .products-navigation {
    flex-direction: column; /* Stack navigation buttons vertically */
    margin-top: 15px;
  }

  .products-prev,
  .products-next {
    padding: 10px; /* Adjust padding */
    margin: 10px 0; /* Add space between buttons */
  }
}

/* Ocultar productos solo en teléfonos móviles, manteniéndolos visibles en tablets */
@media (max-width: 480px) {
  .products-section {
    display: none;
  }
}



.product-rating {
  color: #ffd700; /* Color dorado para las estrellas */
  font-size: 16px; /* Tamaño apropiado para las estrellas dentro de cada producto */
}

.product-rating .fas {
  transition: color 0.3s ease; /* Transición suave al cambiar de color */
}

/* Ejemplo para calificación de 4 estrellas */
.product-item[data-rating="4"] .product-rating .fas:nth-child(-n+4) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="4"] .product-rating .fas:nth-child(n+5) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}

.product-item[data-rating="3"] .product-rating .fas:nth-child(-n+4) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="3"] .product-rating .fas:nth-child(n+3) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}

.product-item[data-rating="2"] .product-rating .fas:nth-child(-n+3) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="2"] .product-rating .fas:nth-child(n+2) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}

.product-item[data-rating="1"] .product-rating .fas:nth-child(-n+2) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="1"] .product-rating .fas:nth-child(n+1) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}

.product-item[data-rating="5"] .product-rating .fas:nth-child(n+1) {
  color: #ffd700; /* Activa las estrellas hasta la cuarta */
}

.product-item[data-rating="5"] .product-rating .fas:nth-child(n+6) {
  color: #e4e5e9; /* Desactiva las estrellas restantes */
}


.contact-section {
  text-align: center;
  padding: 40px 0;
  background-color: #f7f7f7;
}

.contact-title {
  font-size: 32px;
  color: #020202;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-icon-link {
  color: #000000;
  font-size: 24px;
  transition: color 0.3s ease;
}

.contact-icon-link:hover {
  color: #000000;
}

.contact-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #000000;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icons a:hover {
  color: #000000;
  transform: translateY(-3px);
}

.contact-icons i {
  font-size: 2rem;
  transition: all 0.3s ease;
}

.contact-icons i:hover {
  color: #000000;
  transform: scale(1.1);
}

.contact-icon-container {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.contact-icon-container:hover {
  background-color: rgba(88, 48, 99, 0.1);
}

/* Media Queries para ajustes en dispositivos móviles */
@media (max-width: 768px) {
  .contact-title {
    font-size: 24px; /* Reducir el tamaño de la fuente del título para dispositivos más pequeños */
    margin-bottom: 15px;
  }

  .contact-icons {
    flex-direction: column; /* Apila los íconos de contacto */
    gap: 10px; /* Espacio entre íconos */
  }

  .contact-icon-link {
    font-size: 20px; /* Reducir el tamaño de los íconos para dispositivos más pequeños */
  }

   .contact-icon-container {
    display: block; /* Ocupa el ancho completo */
    margin-bottom: 10px; /* Espacio entre íconos */
  }

}

@media (max-width: 480px) {
  .contact-section {
    padding: 30px 10px; /* Reducir el padding para pantallas muy pequeñas */
  }

  .contact-icons i {
    font-size: 1.5rem; /* Ajustar el tamaño de los íconos para pantallas muy pequeñas */
  }
}

.visit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Adjust the background color as needed */
  padding: 50px 10%;
}

.visit-map, .visit-info {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow around the elements */
  border-radius: 5px; /* Rounded corners */
}

.visit-map {
  flex-basis: 100%; /* Ajusta la base flexible para ocupar el ancho completo en móviles */
  margin-right: 0; /* Elimina el margen derecho en móviles */
  height: auto; /* Ajusta la altura automáticamente o establece una altura específica */
  overflow: hidden; /* Mantiene todo el contenido dentro del contenedor */
}

.visit-info {
  flex-basis: 38%; /* Adjust the width of the info container */
  padding: 20px;
  background-color: #ffffff; /* Background color for the info box */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visit-title {
  color: #4a4a4a; /* Title color */
  font-size: 2.5rem; /* Title font size */
  margin-bottom: 15px;
}

.visit-text {
  color: #666; /* Regular text color */
  font-size: 1rem; /* Regular text font size */
  line-height: 1.6; /* Spacing between lines */
  margin-bottom: 10px; /* Space below each text element */
}

.visit-socials {
  display: flex;
  justify-content: start;
  align-items: center;
}

.social-link {
  color: #ff0000; /* Social icon color */
  font-size: 1.5rem; /* Social icon size */
  margin-right: 15px; /* Space between social icons */
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #ff0000; /* Social icon hover color */
}

@media (max-width: 768px) {
  .visit-section {
    flex-direction: column; /* Apila los elementos verticalmente */
    padding: 30px 5%; /* Ajusta el padding para dispositivos más pequeños */
  }

  .visit-map,
  .visit-info {
    flex-basis: auto; /* Permite que cada elemento tome el tamaño necesario */
    width: 100%; /* Los elementos toman el ancho completo */
    margin: 0 0 20px; /* Agrega margen inferior entre los elementos */
  }

  .visit-map {
    height: 200px; /* O la altura que prefieras para que el mapa se vea bien sin ser demasiado grande */
      order: -1; /* Coloca el mapa antes de la información en dispositivos móviles */
  }

  .visit-info {
    padding: 15px; /* Ajusta el padding dentro del contenedor de información */
  }

  .visit-title {
    font-size: 1.8rem; /* Reduce el tamaño de la fuente del título */
    margin-bottom: 10px; /* Reduce el margen inferior del título */
  }

  .visit-text {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente del texto */
  }

  .visit-socials {
    justify-content: center; /* Centra los íconos sociales */
    margin-top: 10px; /* Agrega margen superior para separar de texto */
  }

  .social-link {
    margin: 0 10px; /* Ajusta el margen entre íconos sociales */
  }
}

@media (max-width: 480px) {
  .visit-title {
    font-size: 1.5rem; /* Reduce aún más para teléfonos móviles */
  }

  .visit-map {
    height: 200px; /* Reduce aún más la altura del mapa para dispositivos muy pequeños */
  }

  .visit-text,
  .social-link {
    font-size: 0.8rem; /* Reduce el tamaño de la fuente para el texto y los enlaces sociales */
  }
}


/* Estilo para la sección general del pie de página */
.footer-section {
  background-color: #000000; /* El color de fondo general del footer */
  padding: 2em 0;
  color: white; /* Esto establecerá el color del texto para todos los elementos dentro del footer, excepto aquellos que se sobrescriban específicamente */

}

/* Estilo para el contenedor que incluye el logo y los enlaces */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 1em;
}

.footer-logo img {
  width: 100px; /* Ajusta esto según el tamaño de tu logo */
}

.footer-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-column:last-child {
  margin-left: auto; /* Esto empuja el último .link-column a la derecha */
}

.link-column h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.link-column ul {
  list-style: none;
  padding: 0;
}

.link-column li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-column li a:hover {
  color: #D3BCC0;
}

/* Estilo para la sección de derechos de autor */
.footer-bottom {
  text-align: center;
  width: 100%;
  margin-top: 0.10px;
  background-color: #ebc60f; /* Color de fondo diferente para el footer-bottom, cambia este valor al que corresponde */
  color: white; /* Color del texto */
  padding: 1em 0;
}

.footer-bottom p {
  text-align: center;
  margin: 0; /* Elimina cualquier margen por defecto */
  font-weight: bold; /* Aumenta el peso de la fuente para que resalte */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil para destacar el texto */
  font-size: 1.1em; /* Aumenta un poco el tamaño de la fuente */
}

/* Media Queries para ajustes en dispositivos móviles */
@media (max-width: 768px) {
  .footer-links {
    /* Alinea los elementos de .link-column uno debajo del otro */
    flex-direction: column;
    align-items: center; /* Centra los elementos para dispositivos móviles */
  }

  .link-column {
    /* Establece cada .link-column a 100% del ancho del .footer-links para que ocupe toda la línea */
    width: 100%;
    text-align: center; /* Centra el texto dentro de cada .link-column */
    margin-bottom: 15px; /* Espacio entre columnas de enlaces */
  }

  .footer-logo img {
    margin: 0 auto 20px; /* Centra el logo y añade un margen inferior */
  }

  .footer-section {
    background-color: #000000; /* El color de fondo general del footer */
    padding: 2em 0;
    color: white; /* El color del texto para todos los elementos del footer */
  }

  .footer-bottom {
    margin-top: 20px; /* Ajusta el margen superior del área de derechos de autor */
    text-align: center; /* Centra el texto de los derechos de autor */
  }
}

@media (max-width: 480px) {
  .footer-bottom p {
    font-size: 0.9em; /* Reduce el tamaño de la fuente de los derechos de autor para dispositivos muy pequeños */
  }
}
